.navbar{


    background: #323232;
box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
   
}

.navbar-brand{
	 width: 95px;
height: 49px;
flex-shrink: 0;
margin-left: 60px;


}

.color{

	color: white !important;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 70px;

	   
}

.color-search{

	color: rgb(255, 255, 255)!important;
	font-family: "Maison Neue", sans-serif;
	font-size: 20px;
	padding-top: 7px;
	margin-left: 70px;

}

.color:hover{
	  opacity: 1;
    transition: opacity 200ms ease-in-out 0s;
}

.nav-box{
	border-radius: 12px;
border: 1px solid #04D8AC;
width: 140px;
height: 35.921px;
flex-shrink: 0;
color: #04D8AC!important;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;


text-align: center;
}


.nav-image{
	width: 95px;
height: 49px;
position: relative;
top: -7px;
margin-right:10px;
margin-left: 70px;


}



.main-section{
width: 100%;
margin-top: 60px;
height: 267.925px;

flex-shrink: 0;
background: #04D8AC;
}
.main-section img{
	background: url(<media/22.png>), lightgray 50% / cover no-repeat;}

.section-left p{
	color: #323232;
	margin-top: 50px;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 97.143% */
}

.btnn{
	width: 163px;
height: 45px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid #000;
background: #000;
}

.btnn span{
	color: #F4F4F6;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}


.section-right img{
	width: 512px;
height: 387px;

}
.section-right{
	background: black;
}

.sectionC h1{
	color: #5B5B5B;
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 700;
text-align: left;
line-height: 30px; /* 66.667% */
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  .sectionC h1 {
    font-size: 35px;
  }
}
.sectionC{
	text-align: left;
}
.sectionC p{
	color: #000;
	text-align: left;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 156.25% */
}

.btnn1{
	width: 163px;
height: 40px;
flex-shrink: 0;
border: #00AA87;
border-radius: 12px;
background: #00AA87;
justify-content: left;
}
.btnn1 span{
	color: #F4F4F6;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
} 






h3{
	color: #5B5B5B;
	text-align: center;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 85.714% */
}

.setion-box-right{
	

width: 43px;
height: 43px;
flex-shrink: 0;
text-align: center;
border-radius: 10px;
border: 1px solid #04D8AC;


}
.setion-box-right span{
	color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
position: relative;
top: 5px;
margin-top: 3px;
text-align: center;
line-height: 30px; /* 150% */

}
.section-book1{
	border-radius: 10px;
background: #04D8AC;
width: 43px;
height: 43px;
flex-shrink: 0;
text-align: center;
position: relative;
right: -300px;

}
.section-book1 span{
	color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
position: relative;
top: 5px;
margin-top: 3px;
text-align: center;
line-height: 30px; /* 150% */
}
.maa{
	text-align: right;
}
.section-book2 h4{


color: black;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
text-align: right;
line-height: 30px; /* 214.286% */}


.section-book2 p{
	color: #000;
text-align: right;
font-family: Poppins;
font-size: 12px;
font-style: normal;
text-align: justify-all;
font-weight: 275;
line-height: 18px; /* 150% */
}


.sec{
	text-align: left;
	justify-content: left;
	justify-items: left;
	
}
.sec p{
	color: #000;
text-align: left;
font-family: Poppins;
font-size: 12px;
font-style: normal;
text-align: justify-all;
font-weight: 275;
line-height: 18px; /* 150% */
}

.sec h4{


color: black;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
text-align: left;
line-height: 30px; /* 214.286% */}

.img33{
width: 100%;
height: 100%;
flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .section-book1 {
    text-align: center;
    position: relative;
    right: 0px;
  }
  .section-book2 h4{
  	text-align: left;

  }
  .section-book2 p{
  	text-align: left;

  }
}
@media screen and (max-width: 992px) {
  .col-img {
    display: none;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .section-book1 {
   position: relative;
   right: -250px;
  }
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  .section-book22 h4 {
   position: relative;
   right: -60px;
  }
  .section-book22 p {
   position: relative;
   right: -60px;
  }
}


.footer{
	background: #323232;
}
.footer h4{
	margin-top: 50px;
	color: #FFF;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
padding-right: 60px;
padding-left:90px ;
text-align: left;
line-height: 15px; /* 115.385% */
}
.footer p{
	color: #FFF;
font-family: Roboto;
font-size: 12px;
text-align: left;
font-style: normal;
padding-right:60px;
padding-left: 90px;
font-weight: 300;
line-height: 15px; /* 125% */
letter-spacing: 1.32px;
margin-left: 5px;
}
.footer-para{
	color: #FFF;
font-family: Roboto;
font-size: 12px;
text-align: left;
font-style: normal;
font-weight: 300;
line-height: 15px; /* 125% */
letter-spacing: 1.32px;
}


.footer img{
	width: 184px;
height: 90px;
flex-shrink: 0;
text-align: left;
margin-right: 95px;
margin-bottom: 10px;
}

.clint{
	background: #323232;
}
.clint h1{
	color: #E2E2E2;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Roboto;
font-size: 35px;
margin-top: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 85.714% */
}
.clinttt {
  
  padding: 16px;
  float: right;
  margin-top: 50px;

  background: #0C5243;
box-shadow: -4px 5px 14px 2px rgba(0, 0, 0, 0.25);
width: 412px;
height: 233px;
text-align: left;




}
.clint-imagg{
	margin-top: 40px;
	float: left;

}
.clint-imagg img{
	margin-right: 70px;
	
}
.clinttt::after {
  content: "";
  clear: both;
  display: table;
}

.clinttt img {
  float: right;
  margin-right: 20px;
  border-radius: 50%;
  position: relative;
  right: -85px;
  bottom: -25px;
}

.clinttt span {
  
  margin-right: 15px;

  color: #F4F4F6;
font-family: Poppins;
font-size: 26px;
text-align: left;
font-style: normal;
font-weight: 500;
line-height: 30px;
}
.clinttt p{
  color: #F4F4F6;
font-family: Roboto;
text-align: left;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 136.364% */
}

@media (max-width: 500px) {
  .clinttt {
      text-align: center;
      margin: 10px;
      height: 333px;
      margin-top: 30px;
  }
  .clint{
		background: #0C5243;
	}
  .clinttt img {
      margin-bottom: 30px;
      margin-left: 20px;
      float: none;
      display: block;
  }
  .clint-imagg{
  	display: none;
  }
}
@media (max-width: 992px){
	.clint-imagg{
		display: none;
	}
}
@media screen and (max-width: 992px) and (min-width: 768px){
	.clinttt{
		

		width: 100%;
		height: 300px;
		text-align: center;
		position: relative;
		right: -230px;margin-bottom: 10px;
	}
	.clint{
		background: #0C5243;
	}
	
	.clinttt img{
		position: relative;
		left: 40px;
	}
	.clint h1{
		font-size: 29px;
		margin-top: 10px;
	}
}
@media screen and (max-width: 992px){
	.clint{
		background: #0C5243;	
	}
}
@media screen and (max-width: 992px) and (min-width: 576px) {
  .clinttt{
		margin-left: 10px;
		width: 100%;
		height: 300px;
		text-align: center;
	}
	.clint{
		background: #0C5243;
	}
	.clinttt img{
		float: none;
      display: block;
      text-align: center;
      margin-bottom: 20px;
      margin-left: 90px;
	}
	.footer p{
  	padding-left: 0px;
  	margin-left: 0px;

  }
  .footer h4{
  	padding-left: 0px;
  	margin-left: 0px;

  }.footer img{
  	padding-left: 0px;
  	margin-left: 0px;
  	position: relative;
  	left: -55px;

  }
}



.phone h1{
	color: #323232;
font-family: Poppins;
font-size: 32px;
font-style: normal;
margin-top: 30px;
margin-bottom: 30px;
font-weight: 700;
line-height: 30px; /* 93.75% */
}
.phone div{
	display: inline-block;
	margin: 0px;
}
.passenger{
	border-radius: 7px;
border: 1px solid #04D8AC;
width: 77px;
height: 32px;
flex-shrink: 0;


}
.passenger span{
	color: #000;
font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 300% */
}

.Drive{
	border-radius: 0px 7px 7px 0px;
background: #04D8AC;
width: 77px;
height: 33px;
flex-shrink: 0;
position: relative;
left: -8px;

}
.phone-button span{
	color: #FFF;
font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 300% */
}
.phone-button{
	border-radius: 25px;
background: #000;
width: 157.333px;
height: 52px;
flex-shrink: 0;
position: relative;
bottom: -90px;
}
.phone-button{
	padding: 10px;
}

@media only screen and (max-width: 412px) {
  .ist-image {
    display: none;
  }
  .clint h1{
  	font-size: 24px;
  }.clinttt{
  	width: 100%;
  	position: relative;
  	right: -8px;
  }
  .footer p{
  	padding-left: 0px;
  	margin-left: 0px;

  }
  .footer h4{
  	padding-left: 0px;
  	margin-left: 0px;

  }.footer img{
  	padding-left: 0px;
  	margin-left: 0px;
  	position: relative;
  	left: -40px;

  }
}

@media screen and (max-width: 576px) and (min-width: 412px) {
	.ist-image {
    display: none;
  }
.clint h1{
  	font-size: 28px;
}
.clinttt{
  	width: 100%;
  	height: 290px;
  	
  }
  .clinttt img {
      
      float: none;
      display: block;
      text-align: center;
      margin-bottom: 30px;
}
 .footer p{
  	padding-left: 0px;
  	margin-left: 0px;

  }
  .footer h4{
  	padding-left: 0px;
  	margin-left: 0px;

  }.footer img{
  	padding-left: 0px;
  	margin-left: 0px;
  	position: relative;
  	left: -75px;

  }
}

  @media screen and (max-width: 1600px) and (min-width: 992px) {
  	.section-book1{
  		position: relative;
  		left: 372px;
  		
  	}

  }

  .texttt h1{
  	font-size: 18px;
  	color: black;
  	text-align: left;
  	font-weight: 400;
  }
  .texttt p{
  	font-size: 15px;
  	color: black;
  	text-align: left;
  	line-height: normal;
  }

  .texttt1{
  	float: left;
  	display: inline-block;
  }
  .texttt2{
  	position: absolute;
  	padding-left: 20px;


  }
  .texttt2p1{
  	position: relative;
  	top: -45px;
  }
  .texttt2p2{
  	position: relative;
  	top: -75px;

  }
  .texttt2p{
  	position: relative;
  	top: -95px;
  }
  .texttt2p3{
  	position: relative;
  	top: -125px;
  }

  
  .texttt2p22{
  	position: relative;
  	top: -145px;
  }
  .texttt2p223{
  	position: relative;
  	top: -173px;
  }

  .phone-image img{
  		width: 600px;
  		height: 521px;
  		float: left;
  	}
  

  @media screen and (max-width: 992px){
  	.phone-imageee{
  		display: none;
  	}
  }

  @media screen and (max-width: 992px) and (min-width: 768px){
  	.phone1{
  		text-align: center;
  		position: relative;
  		left: 60px;
  	}
  	.texttt2p1{
  	position: relative;
  	top: -15px;
  }
  .texttt2p2{
  	position: relative;
  	top: -45px;

  }
  .texttt2p{
  	position: relative;
  	top: -65px;
  }
  .texttt2p3{
  	position: relative;
  	top: -95px;
  }

  
  .texttt2p22{
  	position: relative;
  	top: -115px;
  }
  .texttt2p223{
  	position: relative;
  	top: -143px;
  }
.two{
	position: relative;
left: 25px;	
top: -15px;
margin-bottom: 200px;
	}
  
}
.new-footer{
	background: #323232;
}
.new-footer img{
	width: 184px;
height: 90px;
flex-shrink: 0;

}
.new-footer p{
	text-align: left;
	color: #FFF;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: 14px;

}
.new-footer h5{
	text-align: left;
	color: color: #FFF;
font-family: Roboto; ;
}

@media screen and (min-width: 1200px){
.texttt2p1{
  	position: relative;
  	top: -25px;
  }
  .texttt2p2{
  	position: relative;
  	top: -45px;

  }
  .texttt2p{
  	position: relative;
  	top: -65px;
  }
  .texttt2p3{
  	position: relative;
  	top: -95px;
  }

  
  .texttt2p22{
  	position: relative;
  	top: -115px;
  }
  .texttt2p223{
  	position: relative;
  	top: -143px;
  }
}

@media screen and (max-width: 394px){
	.two{
		position: relative;
		top: 95px;
		right: -26px;
	}
	

}